In [39]:
import sqlite3
import pandas as pd
academy_awards = pd.read_csv('academy_awards.csv', encoding='ISO-8859-1')
#academy_awards.head(6)

In [12]:
# print values counts and values per column of dataframe
for i in range(5,11):
    x = ' '.join(["Unnamed:", str(i)])
    p = academy_awards[x].value_counts()
    df2 = pd.DataFrame({'value':p.index, 'count':p.values})
    print (x, '\n', df2.to_string(index=False), '\n')

Unnamed: 5
 count                                              value
    7                                                  *
    1                                         resilience
    1                                discoverer of stars
    1   error-prone measurements on sets. [Digital Im...
    1   D.B. "Don" Keele and Mark E. Engebretson has ...

Unnamed: 6
 count                                              value
    9                                                  *
    1                   flexibility and water resistance
    1   direct radiator bass style cinema loudspeaker...
    1                                        sympathetic

Unnamed: 7
 count                                              value
    1                                                  *
    1   while requiring no dangerous solvents. [Syste...
    1                                             kindly

Unnamed: 8
 count                                           value
    1   understanding comedy genius - Mack Sennett.""
    1                                               *

Unnamed: 9
 count value
    1     *

Unnamed: 10
 count value
    1     *

In [20]:
academy_awards['Year'] = academy_awards['Year'].str[0:4]
academy_awards['Year'] = academy_awards['Year'].astype(int)
academy_awards['Year'].dtypes

dtype('int64')

In [21]:
later_than_2000 = academy_awards[academy_awards['Year'] > 2000]
#later_than_2000.head()

In [22]:
later_than_2000.shape

(1294, 11)

In [23]:
awards_categories = ['Actor -- Leading Role', 'Actor -- Supporting Role', 'Actress -- Leading Role', 'Actress -- Supporting Role']
nominations = later_than_2000[later_than_2000['Category'].isin(awards_categories)]
nominations.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
#nominations.replace({'Won?': {'NO': 0, 'YES': 1}}, inplace=True)
pd.options.mode.chained_assignment = None
replace_dict = { 'NO': 0, 'YES': 1 }
nominations['Won?'] = nominations['Won?'].map(replace_dict)
nominations.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010.0,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2010.0,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2010.0,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2010.0,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2010.0,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
nominations.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010.0,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010.0,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010.0,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010.0,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010.0,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
nominations.rename(columns={'Won?': 'Won'}, inplace=True)
nominations.head()

,Year,Category,Nominee,Additional Info,Won,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010.0,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2010.0,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2010.0,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2010.0,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2010.0,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
final_nominations = nominations.drop(['Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10'], axis=1)
final_nominations.head()

,Year,Category,Nominee,Additional Info,Won
0,2010.0,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0.0
1,2010.0,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0.0
2,2010.0,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0.0
3,2010.0,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1.0
4,2010.0,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0.0

In [31]:
additional_info_one = final_nominations['Additional Info'].str.rstrip("'}")
additional_info_one.head()

0                        Biutiful {'Uxbal
1             True Grit {'Rooster Cogburn
2    The Social Network {'Mark Zuckerberg
3      The King's Speech {'King George VI
4                127 Hours {'Aron Ralston
Name: Additional Info, dtype: object

In [32]:
additional_info_two = additional_info_one.str.split(" {'")
additional_info_two.head()

0                        [Biutiful, Uxbal]
1             [True Grit, Rooster Cogburn]
2    [The Social Network, Mark Zuckerberg]
3      [The King's Speech, King George VI]
4                [127 Hours, Aron Ralston]
Name: Additional Info, dtype: object

In [33]:
movie_names = additional_info_two.str[0]
movie_names.head()

0              Biutiful
1             True Grit
2    The Social Network
3     The King's Speech
4             127 Hours
Name: Additional Info, dtype: object

In [34]:
characters = additional_info_two.str[1]
characters.head()

0              Uxbal
1    Rooster Cogburn
2    Mark Zuckerberg
3     King George VI
4       Aron Ralston
Name: Additional Info, dtype: object

In [35]:
final_nominations['Movie'] = movie_names
final_nominations['Character'] = characters
final_nominations.head()

,Year,Category,Nominee,Additional Info,Won,Movie,Character
0,2010.0,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0.0,Biutiful,Uxbal
1,2010.0,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0.0,True Grit,Rooster Cogburn
2,2010.0,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0.0,The Social Network,Mark Zuckerberg
3,2010.0,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1.0,The King's Speech,King George VI
4,2010.0,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0.0,127 Hours,Aron Ralston

In [36]:
final_nominations.drop(['Additional Info'], axis=1, inplace=True)
final_nominations.head()

,Year,Category,Nominee,Won,Movie,Character
0,2010.0,Actor -- Leading Role,Javier Bardem,0.0,Biutiful,Uxbal
1,2010.0,Actor -- Leading Role,Jeff Bridges,0.0,True Grit,Rooster Cogburn
2,2010.0,Actor -- Leading Role,Jesse Eisenberg,0.0,The Social Network,Mark Zuckerberg
3,2010.0,Actor -- Leading Role,Colin Firth,1.0,The King's Speech,King George VI
4,2010.0,Actor -- Leading Role,James Franco,0.0,127 Hours,Aron Ralston

In [37]:
final_nominations.dtypes

Year         float64
Category      object
Nominee       object
Won          float64
Movie         object
Character     object
dtype: object

In [40]:
conn = sqlite3.connect('nominations.db')
final_nominations.to_sql('nominations', conn, index=False)

In [41]:
conn.execute('pragma table_info(nominations);').fetchall()

[(0, 'Year', 'REAL', 0, None, 0),
 (1, 'Category', 'TEXT', 0, None, 0),
 (2, 'Nominee', 'TEXT', 0, None, 0),
 (3, 'Won', 'REAL', 0, None, 0),
 (4, 'Movie', 'TEXT', 0, None, 0),
 (5, 'Character', 'TEXT', 0, None, 0)]